@import '~bootstrap/scss/bootstrap';
@import './partials/general';


.body {
    height: 100vh;
}

.card {
    max-width: 75%;
}

// .card .card-text.description {
//     width: 100%;
//     overflow: hidden;
//     white-space: nowrap;
//     text-overflow: ellipsis;
// }

.card-img-top {
    max-width: 100%;
    aspect-ratio: 16/3;
    object-fit: cover;
    object-position: center;
}


.main .wrapper {
    height: 400px;
    overflow-y: scroll;
}
